.summarizer-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.summarizer-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    background-color: unset;
    background-image: linear-gradient(to right top, #42a5f5, #85a9f5, #afaef1, #ccb5ec, #e1bee7);
    border: none;
    font-weight: 700;
    width: fit-content;
    align-self: center;
  }

  textarea {
    resize: unset;
  }
}
