.writer-page {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.writer-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  nz-form-item {
    width: 100%;
    textarea {
      resize: unset;
    }
  }

  button {
    background-color: unset;
    background-image: linear-gradient(to right top, #42a5f5, #85a9f5, #afaef1, #ccb5ec, #e1bee7);
    border: none;
    font-weight: 700;
    align-self: center;
    width: fit-content;
  }
}
