<nav class="navigation-menu">
  <ul class="navigation-menu__list">
    <li class="navigation-menu__item">
      <a class="navigation-menu__link" [routerLink]="['translator']" href="/translator" routerLinkActive="active">Translation API</a>
    </li>
    <li class="navigation-menu__item">
      <a class="navigation-menu__link" [routerLink]="['detector']" href="/detector" routerLinkActive="active" >Detector API</a>
    </li>
    <li class="navigation-menu__item">
      <a class="navigation-menu__link">Summarize API</a>
    </li>
  </ul>
</nav>
